*{
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    }

    .header{
        background-color: mediumblue;
        width: 850px;
        height: 400px;
        position: relative;
        top:5px;
        margin: auto;
    } 
    .column1 {
        position: relative;
        top: 40px;
        width: 328px;
        height: 400px;
        background-color:mediumblue;
    }
    .column2 {
        
        top: 40px;
        left: 338px;
        width: 512px;
        height: 400px;
        background-color:mediumblue;
    }
nav{
    position: relative;
    top: 410px;
    left:400px;
    }
.row {
    width: 850px;
    margin: auto;
}

span{
    margin: 10px;
}